*{box-sizing: border-box;}
.container{
    position: absolute;
    left:400px;
    top:100px;
    background-color: rgb(214, 208, 208);
    min-width: 800PX;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}
input{
    width: 600px;
    height:30px;
    border-radius: 15px;
    background-color: lemonchiffon;
    outline: none;
    padding: 20px;
    position: fixed;
    top: auto;
}
#add{
    margin-left: 50px;
    height: 40px;
    width: 90px;
    border-radius: 10%;
}
.action{
    margin-top: 20px;
    margin-left: 20px;
    width: 700px;
    display: inline-flex;
}
.commentList{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    

}
img{
    margin: 10px;
    width: 50px;
}
h2{
    margin: 10px;
}
p{
    margin-left: 10px;
    font-size: 20px;

}
button{
    position: relative;
    left:350px;
    background-color: red;
    color: white;
    height: 35px;
    width: 90px;
    margin-bottom: 10px;
    
}
.to-be-deleted{
    border: 2px solid grey;
    background-color: rgb(79, 79, 161);
}